.container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto;
  gap: 12px; /* row-gap + column-gap */
  justify-items: stretch; /* horizontal inside cell */
  align-items: stretch; /* vertical inside cell */
}
.container div{
    background-color:red;
    border-radius: 25px;
    text-align: center;
}